%gradient {
  color: transparent !important;
  background-clip: text;
}

%heading {
  color: var(--color-text-bold);
  line-height: 6.34rem;

  @include responsive(lg-mobile) {
    line-height: 4.5rem;
  }
}
