.container {
  max-width: 114rem;
  margin: 0 auto;
}
.gradient-purple {
  background-image: var(--gradient-purple);
  color: transparent;
  background-clip: text;
}
.gradient-orange {
  background-image: var(--gradient-orange);
  color: transparent !important;
  background-clip: text;
}
.mg-t-lg {
  margin-top: 4.1rem;
}
