$breakpoints: (
  landscape-tablet: 48em,
  portrait-tablet: 40em,
  large-mobile: 30em,
  small-mobile: 20em,
);

@mixin responsive($bp) {
  @if map-has-key($breakpoints, $bp) {
    @media screen and (max-width: map-get($breakpoints, $bp)) {
      @content;
    }
  }
}
