:root {
  --color-bg-dark: #191919;
  --color-bg: #161513;
  --color-bg-thin: #222;
  --color-bg-extra-thin: #2a2a2a;
  --color-text: #c5c5c5;
  --color-grey: #8491a0;
  --color-text-bold: #fff;
  // spaces
  --gap-header-nav-list: 7.1rem;
  --gap-hero-biography: 3.9rem;
  --gap-hero-actions: 1.8rem;
  --gap-section: 10rem;
  --gap-skills: 4.8rem;
  --gap-projects-between: 3rem;
  --gap-projects-top: 2.7rem;
  --gap-experience: 2.3rem;
  --gap-experiences: 5.7rem;
  // transitions
  --trans-1x: 0.25s;
  --trans-2x: 0.5s;
  // gradients
  --gradient-purple: linear-gradient(to right, #ff8660, #9a33ff);
  --gradient-orange: linear-gradient(to right, #ff8660, #d5491d);
  --gradient-blue: linear-gradient(to right, #5badff, #1373d1);
  // font sizes
  --font-header-nav: 1.5rem;
  --font-hero-biography: 1.8rem;
  --font-btn: 2.3rem;
  --font-card-title: 1.9rem;
  --font-card-title-sub: 1rem;
  --font-experience-title: 2.174rem;
  --font-experience-text: 1.449rem;
  --font-footer-text: 1.412rem;
  // radiuses
  --rounded-card: 1.8rem;
  --rounded-menu: 0.8rem;
  // logo colors
  --logo-meta: #0467df;
  --logo-google: linear-gradient(
    90deg,
    #4285f4 0%,
    #34a853 25%,
    #fbbc05 50%,
    #ea4335 75%
  );
}
