:root {
  --color-bg: #161513;
  --color-bg-thin: #222;
  --color-text: #c5c5c5;
  --color-text-bold: #fff;
  // spaces
  --gap-header-nav-list: 7.1rem;
  --gap-hero-biography: 3.9rem;
  // transitions
  --trans-1x: 0.25s;
  // gradients
  --gradient-purple: linear-gradient(to right, #ff8660, #9a33ff);
}
