.footer {
  background-color: var(--color-bg-dark);
  transition: var(--trans-2x);

  // Margin & Padding to separate footer from above content
  margin-top: calc(var(--gap-section) + 0.7rem);
  padding: calc(var(--gap-section) - 1.8rem) 0 var(--gap-section);

  // Text color and font size for footer text
  color: var(--color-grey);
  font-size: var(--font-footer-text);

  &__icon {
    // Responsive icon size with clamp
    width: 2.4rem;
    height: 2.4rem;
    transform: scale(0.8);
  }

  &__text {
    // Light font weight and vertical spacing for footer texts
    font-weight: 300;
    margin: 3.4rem 0 2.2rem;
  }

  &__links {
    font-style: normal;
    margin-bottom: 4.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__link {
    display: flex;
    gap: 0.55rem;
    color: var(--color-grey);
    transition: color var(--trans-1x), box-shadow var(--trans-1x);
    will-change: color, box-shadow;
  }

  &__socials {
    // Alignment
    display: flex;
    gap: 2.7rem;

    // Set size for SVG icons inside links
    & > a > * {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}
