.header {
  background-color: var(--color-bg-thin);

  // Fix header at top with full width and above other content
  position: fixed;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;

  transition: var(--trans-2x);

  &.sticky {
    // Add subtle shadow when header becomes sticky
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  }

  &--active {
    background-color: rgba(255, 255, 255, 0.577);
  }
}

.some-space {
  // Adds top padding to create spacing below the fixed header
  padding-top: calc(var(--gap-section) - 4rem);
}
