.section-hero {
  padding-top: 10rem;
  text-align: center;

  &__biography {
    // typography
    font-size: var(--font-hero-biography);
    font-weight: 300;
    // alignment
    max-width: 60%;
    margin: var(--gap-hero-biography) auto
      calc(var(--gap-hero-biography) + 1.4rem) auto;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: var(--gap-hero-actions);
  }
}
