.section-hero {
  padding-top: var(--gap-section);
  text-align: center;

  &__biography {
    // Typography styles for biography text
    font-size: var(--font-hero-biography);
    font-weight: 300;

    // Centered with max width and margin for spacing
    margin: var(--gap-hero-biography) auto
      calc(var(--gap-hero-biography) + 1.4rem);

    max-width: 60%;

    @include responsive(landscape-tablet) {
      max-width: 100%;
    }
  }

  &__actions {
    // Horizontal flex container to center buttons with spacing
    display: flex;
    justify-content: center;
    gap: var(--gap-hero-actions);
  }
}
