.section-projects {
  text-align: center;
  padding-top: var(--gap-section);

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: var(--gap-projects-between);
    margin-top: var(--gap-projects-top);
  }
}
