.card {
  max-width: 90rem;
  border-radius: var(--rounded-card);
  background-color: var(--color-bg-extra-thin);
  transition: var(--trans-1x);
  overflow: hidden;
  justify-self: center;

  &__img {
    width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 2.3rem;
  }

  &__title {
    @extend %title-uppercase;
    font-size: var(--font-card-title);

    &::before {
      content: "click here to visit";
      display: block;
      font-size: var(--font-card-title-sub);
      font-weight: 700;
      color: var(--color-text);
      text-align: left;
    }
  }

  &__icon {
    inline-size: 1.5rem;
    block-size: 1.4rem;
  }

  &:hover {
    background-color: transparent;
    transform: translateY(-0.4rem) scale(1.01);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }
}
