.experiences {
  margin-top: var(--gap-experiences);
  display: grid;
  gap: calc(var(--gap-experiences) - 0.7rem);
}

.experience {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: calc(var(--gap-experience) - 1.1rem);
  row-gap: var(--gap-experience);
  font-size: var(--font-experience-text);
  color: var(--color-grey);

  &__time,
  &__text {
    @include responsive(port-tablet) {
      grid-column: 1 / -1;
    }
  }

  &__logo {
    @include responsive(xs-mobile) {
      grid-column: 1 / -1;
    }
  }

  &__text {
    grid-column: 1 / -1;
  }

  &__icon {
    color: var(--color-text-bold);
    fill: currentColor;
    width: 3.4rem;
    height: 3.2rem;

    @include responsive(port-tablet) {
      width: 3rem;
      height: 2.8rem;
    }
  }

  &__title {
    color: var(--color-text-bold);
    font-weight: 800;
    font-size: var(--font-experience-title);
  }
}
