.header-nav {
  @include flex;

  &__list {
    // alignment
    display: flex;
    gap: var(--gap-header-nav-list);
    // typography
    font-family: "PlusJakartaSans", "poppins", sans-serif;
    font-size: var(--font-header-nav);
    font-weight: 600;
  }

  &__item {
    color: var(--color-text-bold);
    &--active {
      color: var(--color-text);
    }
  }

  &__link {
    &:link,
    &:visited {
      color: inherit;
      transition: all 0.5s;
      outline: none;
    }
    &:hover,
    &:active,
    &:focus {
      color: var(--color-text-bold);
      text-shadow: 0 0 1rem var(--color-grey), 0 0 2rem var(--color-grey),
        0 0 3rem var(--color-grey), 0 0 4rem var(--color-grey);
    }
  }
}
