.overlay {
  background-color: rgba(255, 255, 255, 0.5);

  // Pos
  position: fixed;
  inset: 0;
  z-index: 10;

  // Hidden off-screen initially
  transform: translateX(200%);
  visibility: hidden;

  // Set Animations
  transition: transform var(--trans-2x), visibility var(--trans-2x) linear;

  &--active {
    transform: translateX(0%);
    visibility: visible;
  }
}
