.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 3;

  transform: translateX(200%);
  visibility: hidden;

  transition: transform var(--trans-2x), visibility var(--trans-2x) linear;
}
