.profile {
  // Responsive Width
  width: clamp(18rem, 5vw + 10rem, 25rem);
  margin: 0 auto;
  // Etc
  overflow: hidden;
  border-radius: 50%;
  cursor: zoom-in;

  &__img {
    // Full width, automatic height to keep aspect ratio and radius
    width: 100%;
    height: auto;
    border-radius: 50%;

    // Smooth transform transition on hover
    transition: var(--trans-1x);

    // Hint browser for better animation performance
    will-change: transform;
  }

  // Scale image on hover for zoom effect
  &:hover &__img {
    transform: scale(1.2);
  }
}
