.profile {
  width: 25rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  cursor: zoom-in;

  @include responsive(lg-mobile) {
    width: 22.5rem;
  }

  @include responsive(md-mobile) {
    width: 20rem;
  }

  &__img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: var(--trans-1x);
    will-change: transform;
  }

  &:hover {
    &__img {
      transform: scale(1.2);
    }
  }
}
