.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 10rem));
  margin-top: var(--gap-skills);
  justify-content: center;
  row-gap: 2.5rem;

  @include responsive(lg-mobile) {
    grid-template-columns: repeat(auto-fit, minmax(auto, 7rem));
  }

  &__item {
    transition: var(--trans-1x);

    &:hover {
      color: var(--color-text-bold);
    }
  }

  &__icon {
    width: 4.4rem;
    height: 4.4rem;
    fill: currentColor;

    // @include responsive(lg-mobile) {
    //   width: 3rem;
    //   height: 3rem;
    // }
  }
}
