:root {
  --hue: 223;
  --primary: hsl(var(--hue), 90%, 50%);
  --trans-dur: 0.6s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
}

input {
  font: 1em/1.5 sans-serif;
}

.switch {
  margin: auto;
  position: relative;
  font-size: 3rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;

  &__input {
    display: block;
    width: 2.75em;
    height: 1.5em;
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--color-bg);
    border-radius: 0.75em;
    outline: transparent;
    box-shadow: 0 0 0 0.0625em hsla(var(--hue), 90%, 50%, 0),
      0 0.125em 0.5em hsla(var(--hue), 10%, 10%, 0.1);
    transition: background-color var(--trans-dur), box-shadow var(--trans-dur);
    will-change: background-color, box-shadow;

    &:checked {
      background-color: hsl(var(--hue), 10%, 10%);

      ~ .switch__icon {
        color: hsla(var(--hue), 10%, 40%);
      }

      ~ .switch__inner:before,
      ~ .switch__inner-icons {
        transform: translateX(1.25em);
      }

      ~ .switch__inner-icons {
        .switch__icon {
          &:first-of-type {
            transform: translateX(-1.25em) rotate(-360deg);
          }

          &:nth-of-type(2) {
            transform: translateX(-1.25em) rotate(360deg);
          }
        }
      }
    }

    &:focus-visible {
      box-shadow: 0 0 0 0.0625em hsla(var(--hue), 90%, 50%, 1),
        0 0.125em 0.5em hsla(var(--hue), 10%, 10%, 0.1);
    }
  }

  &__icon {
    position: absolute;
    top: 0.375em;
    left: 0.375em;
    width: 0.75em;
    height: 0.75em;
    color: hsla(var(--hue), 10%, 80%);
    pointer-events: none;
    transition: color var(--trans-dur),
      transform var(--trans-dur) var(--trans-timing);

    &:nth-of-type(2) {
      left: auto;
      right: 0.375em;
    }
  }

  &__inner,
  &__inner-icons {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    width: 2.25em;
    height: 1em;
    display: block;
    overflow: hidden;
    border-radius: 0.5em;
  }

  &__inner {
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: var(--primary);
      border-radius: inherit;
      transform: translateX(-1.25em);
      transition: transform var(--trans-dur) var(--trans-timing);
    }
  }

  &__inner-icons {
    pointer-events: none;
    transform: translateX(-1.25em);
    transition: transform var(--trans-dur) var(--trans-timing);

    .switch__icon {
      position: absolute;
      top: 0.125em;
      left: 0.125em;
      color: hsl(0, 0%, 100%);
      transform: translateX(1.25em);

      &:nth-child(2) {
        left: auto;
        right: 0.125em;
      }
    }
  }

  &__sr {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}
