// Base font size for responsive scaling
html {
  scroll-behavior: smooth;
  font-size: 62.5%; // 1rem = 10px base
  font-size: clamp(46%, 1.2vw + 0.5rem, 62.5%);
}

// Base styles for body
body {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-text);
  // smoother fonts
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: var(--trans-2x);
}

// Reset margin, padding and inherit box-sizing for all elements
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Remove bullet points from all lists
ul {
  list-style-type: none;
}

// Selection color for text highlight
::selection {
  background-color: var(--color-grey);
  color: var(--color-text-bold);
}

// Remove BackFace & underline from links
a:link,
a:visited,
img,
button,
h1,
h2,
h3 {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

@include responsive(large-mobile) {
  p {
    user-select: none;
    -webkit-user-drag: none;
  }
}
