html {
  font-size: 62.5%;

  @include responsive(laptop) {
    font-size: 60%;
  }
  @include responsive(land-tablet) {
    font-size: 58%;
  }
  @include responsive(lg-mobile) {
    font-size: 56%;
  }
  @include responsive(md-mobile) {
    font-size: 54%;
  }
  @include responsive(sm-mobile) {
    font-size: 52%;
  }
}
body {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  background-color: var(--color-bg);
  color: var(--color-text);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul {
  list-style-type: none;
}
a:link,
a:visited {
  text-decoration: none;
}
::selection {
  background-color: var(--color-grey);
  color: var(--color-text-bold);
}
