.heading-primary {
  @extend %heading;
  @include heading(5.5rem, 900);
}
.heading-secondary {
  @extend %heading;
  @include heading(3.5rem, 900);

  text-transform: uppercase;
}
.heading-tertiary {
  @extend %heading;
  @include heading(2.25rem, 800);

  letter-spacing: 0.05rem;
}
.heading-sub {
  @include heading(2rem, 600);

  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
