.heading-primary {
  font-size: 5.5rem;
  font-weight: 900;
  color: var(--color-text-bold);
  line-height: 6.34rem;
}
.heading-secondary {
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--color-text-bold);
  text-transform: uppercase;
}
.heading-tertiary {
  font-size: 2.25rem;
  font-weight: 800;
  color: var(--color-text-bold);
  letter-spacing: 0.05rem;
}
.heading-sub {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
