:root {
  --color-bg-dark: #191919;
  --color-bg: #161513;
  --color-bg-thin: #222;
  --color-bg-extra-thin: #2a2a2a;
  --color-text: #c5c5c5;
  --color-grey: #8491a0;
  --color-text-bold: #fff;
  --gap-header-nav-list: 7.1rem;
  --gap-hero-biography: 3.9rem;
  --gap-hero-actions: 1.8rem;
  --gap-section: 10rem;
  --gap-skills: 4.8rem;
  --gap-projects-between: 3rem;
  --gap-projects-top: 2.7rem;
  --gap-experience: 2.3rem;
  --gap-experiences: 5.7rem;
  --trans-1x: 0.25s;
  --trans-2x: 0.5s;
  --gradient-purple: linear-gradient(to right, #ff8660, #9a33ff);
  --gradient-orange: linear-gradient(to right, #ff8660, #d5491d);
  --gradient-blue: linear-gradient(to right, #5badff, #1373d1);
  --font-header-nav: 1.5rem;
  --font-hero-biography: 1.8rem;
  --font-btn: 2.3rem;
  --font-card-title: 1.9rem;
  --font-card-title-sub: 1rem;
  --font-experience-title: 2.174rem;
  --font-experience-text: 1.449rem;
  --font-footer-text: 1.412rem;
  --rounded-card: 1.8rem;
  --rounded-menu: 0.8rem;
  --logo-meta: #0467df;
  --logo-google: linear-gradient(
    90deg,
    #4285f4 0%,
    #34a853 25%,
    #fbbc05 50%,
    #ea4335 75%
  );
}

.gradient-blue, .gradient-orange, .gradient-purple {
  color: transparent !important;
  background-clip: text;
}

.heading-tertiary, .heading-secondary, .heading-primary {
  color: var(--color-text-bold);
  line-height: 6.34rem;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}
@media screen and (max-width: 76.25em) {
  .container {
    padding: 0 4rem;
  }
}

.gradient-purple {
  background-image: var(--gradient-purple);
}

.gradient-orange {
  background-image: var(--gradient-orange);
}

.gradient-blue {
  background-image: var(--gradient-blue);
}

.mg-t-lg {
  margin-top: 4.1rem;
}

.text-center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (max-width: 48em) {
  .word-wrap {
    display: none;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 62.5%;
}
@media screen and (max-width: 64em) {
  html {
    font-size: 60%;
  }
}

body {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  background-color: var(--color-bg);
  color: var(--color-text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}

::selection {
  background-color: var(--color-grey);
  color: var(--color-text-bold);
}

.heading-primary {
  font-size: 5.5rem;
  font-weight: 900;
}
@media screen and (max-width: 64em) {
  .heading-primary {
    font-size: 5rem;
  }
}
@media screen and (max-width: 48em) {
  .heading-primary {
    font-size: 4.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (max-width: 64em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

.heading-tertiary {
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
}
@media screen and (max-width: 64em) {
  .heading-tertiary {
    font-size: 2rem;
  }
}

.heading-sub {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.jelly:hover {
  transition: all 0.3s ease;
  will-change: transform;
  animation: jelly 0.6s ease-in-out;
}

.neon:hover {
  color: var(--color-text-bold);
  text-shadow: 0 0 1rem var(--color-grey), 0 0 2rem var(--color-grey), 0 0 3rem var(--color-grey), 0 0 4rem var(--color-grey);
}

@keyframes jelly {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
  }
  25% {
    transform: translateY(-8px) scale(1.05) rotate(5deg);
  }
  50% {
    transform: translateY(4px) scale(0.95) rotate(-3deg);
  }
  75% {
    transform: translateY(-3px) scale(1.02) rotate(3deg);
  }
  100% {
    transform: translateY(0) scale(1) rotate(0deg);
  }
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header-nav__list {
  display: flex;
  gap: var(--gap-header-nav-list);
  font-family: "PlusJakartaSans", "poppins", sans-serif;
  font-size: var(--font-header-nav);
  font-weight: 600;
}
.header-nav__item {
  color: var(--color-text-bold);
}
.header-nav__item--active {
  color: var(--color-text);
}
.header-nav__link:link, .header-nav__link:visited {
  color: inherit;
  transition: all 0.5s;
  outline: none;
}
.header-nav__link:hover, .header-nav__link:active, .header-nav__link:focus {
  color: var(--color-text-bold);
  text-shadow: 0 0 1rem var(--color-grey), 0 0 2rem var(--color-grey), 0 0 3rem var(--color-grey), 0 0 4rem var(--color-grey);
}

@media screen and (max-width: 48em) {
  .header-nav__list {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-bg-extra-thin);
    flex-direction: column;
    height: 100dvh;
    width: 66.6%;
    gap: 2rem;
    padding: 2rem;
    transform: translateX(-100%);
    visibility: hidden;
    transition: var(--trans-2x);
    z-index: 10;
  }
  .header-nav__item {
    background-color: var(--color-bg);
    padding: 4rem;
    border-radius: var(--rounded-menu);
  }
}

.profile {
  width: 25rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  cursor: zoom-in;
}
.profile__img {
  width: 100%;
  border-radius: 50%;
  transition: var(--trans-1x);
}
.profile:hover .profile__img {
  transform: scale(1.2);
}

.logo {
  width: 8rem;
  height: 8rem;
}
.logo__img {
  width: 100%;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 1.6rem 3rem;
  font-weight: 600;
  font-size: var(--font-btn);
  text-decoration: none;
  border: 2px solid var(--color-text-bold);
  border-radius: 99999px;
  transition: background-color 0.3s ease, color 0.3s ease;
  will-change: transform, opacity;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  pointer-events: none;
  top: 0;
  left: -50%;
  right: -50%;
  height: 0;
  padding-bottom: 150%;
  border-radius: 39%;
  opacity: 0;
  transition: transform 1.2s ease-out, opacity 0.9s ease-out;
  backface-visibility: hidden;
}
.btn:before {
  transform: translate3d(-10%, 5em, 0) rotate(330deg);
  background: linear-gradient(25deg, rgba(224, 224, 224, 0.15), transparent);
}
.btn:after {
  transform: translate3d(10%, 5em, 0) rotate(0deg);
  background: linear-gradient(70deg, rgba(224, 224, 224, 0.18), transparent);
}
.btn:hover:before {
  transform: translate3d(-10%, -1em, 0) rotate(100deg);
  opacity: 1;
}
.btn:hover:after {
  transform: translate3d(10%, -1em, 0) rotate(180deg);
  opacity: 1;
}
.btn--primary {
  background-color: var(--color-text-bold);
  color: #161513;
  box-shadow: none;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 1.2s ease;
}
.btn--primary:hover {
  background-color: black;
  color: var(--color-text-bold);
  box-shadow: 0 0 4px 1.5px rgb(249.5, 249.5, 249.5), 0 0 10px 4px #e0e0e0, 0 0 20px 8px white;
}
.btn--secondary {
  background-color: transparent;
  color: var(--color-text-bold);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 1.2s ease;
}
.btn--secondary:hover {
  box-shadow: 0 0 4px 1.5px rgb(249.5, 249.5, 249.5), 0 0 10px 4px #e0e0e0, 0 0 20px 8px white;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 10rem));
  margin-top: var(--gap-skills);
  justify-content: center;
  row-gap: 2.5rem;
}
.skills__item {
  transition: var(--trans-1x);
}
.skills__item:hover {
  color: var(--color-text-bold);
}
.skills__icon {
  width: 4.4rem;
  height: 4.4rem;
  fill: currentColor;
}

.card {
  max-width: 90rem;
  border-radius: var(--rounded-card);
  overflow: hidden;
  background-color: var(--color-bg-extra-thin);
  transition: var(--trans-1x);
  justify-self: center;
}
.card__img {
  width: 100%;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 2.3rem;
}
.card__title {
  color: var(--color-text-bold);
  font-size: var(--font-card-title);
  font-weight: 900;
  text-transform: uppercase;
}
.card__title::before {
  content: "click here to visit";
  color: var(--color-text);
  display: block;
  font-size: var(--font-card-title-sub);
  font-weight: 700;
  text-align: left;
}
.card__icon {
  font-size: 2rem;
  color: var(--color-text-bold);
}
.card:hover {
  background-color: transparent;
  transform: translateY(-0.4rem) scale(1.01);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.experiences {
  margin-top: var(--gap-experiences);
  display: grid;
  gap: calc(var(--gap-experiences) - 0.7rem);
}

.experience {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: calc(var(--gap-experience) - 1.1rem);
  row-gap: var(--gap-experience);
  font-size: var(--font-experience-text);
  color: var(--color-grey);
}
.experience__icon {
  color: var(--color-text-bold);
  fill: currentColor;
  width: 3.4rem;
  height: 3.2rem;
}
.experience__title {
  color: var(--color-text-bold);
  font-weight: 800;
  font-size: var(--font-experience-title);
}
@media screen and (max-width: 42em) {
  .experience__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 42em) {
  .experience__time {
    grid-column: 1/-1;
  }
}
.experience__text {
  grid-column: 1/-1;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  margin-right: -2rem;
}
@media screen and (max-width: 48em) {
  .ham {
    display: block;
  }
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--color-text-bold);
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham6 .top {
  stroke-dasharray: 40 172;
}

.ham6 .middle {
  stroke-dasharray: 40 111;
}

.ham6 .bottom {
  stroke-dasharray: 40 172;
}

.ham6.active .top {
  stroke-dashoffset: -132px;
}

.ham6.active .middle {
  stroke-dashoffset: -71px;
}

.ham6.active .bottom {
  stroke-dashoffset: -132px;
}

.overlay {
  position: fixed;
  background-color: rgba(22, 21, 19, 0.9);
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translateX(200%);
  visibility: hidden;
  transition: var(--trans-2x);
}

.header {
  background-color: var(--color-bg-thin);
}

.section-hero {
  padding-top: 10rem;
  text-align: center;
}
.section-hero__biography {
  font-size: var(--font-hero-biography);
  font-weight: 300;
  max-width: 60%;
  margin: var(--gap-hero-biography) auto calc(var(--gap-hero-biography) + 1.4rem) auto;
}
@media screen and (max-width: 64em) {
  .section-hero__biography {
    max-width: 80%;
  }
}
@media screen and (max-width: 48em) {
  .section-hero__biography {
    max-width: 100%;
  }
}
.section-hero__actions {
  display: flex;
  justify-content: center;
  gap: var(--gap-hero-actions);
}

.section-technologies {
  padding-top: calc(var(--gap-section) - 1.1rem);
  text-align: center;
}

.section-projects {
  text-align: center;
  padding-top: var(--gap-section);
}
.section-projects__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: var(--gap-projects-between);
  margin-top: var(--gap-projects-top);
}

.section-experience {
  padding-top: var(--gap-section);
}

.footer {
  background-color: var(--color-bg-dark);
  margin-top: calc(var(--gap-section) + 0.7rem);
  padding-top: 8.2rem;
  padding-bottom: 10rem;
  color: var(--color-grey);
  font-size: var(--font-footer-text);
}
.footer__icon {
  color: var(--color-text-bold);
}
.footer__text {
  font-weight: 300;
  margin-top: 3.4rem;
  margin-bottom: 2.2rem;
}
.footer__email {
  font-weight: 600;
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 0.55rem;
  margin-bottom: 4.1rem;
  transition: var(--trans-1x);
}
.footer__email--link:link, .footer__email--link:visited {
  color: inherit;
}
.footer__socials {
  display: flex;
  gap: 2.7rem;
}
.footer__socials > a > * {
  width: 1.8rem;
  height: 1.8rem;
}

/*# sourceMappingURL=style.css.map */
