@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakarta/PlusJakartaSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-bg: #161513;
  --color-bg-thin: #222;
  --color-text: #c5c5c5;
  --color-text-bold: #fff;
  --gap-header-nav-list: 7.1rem;
  --gap-hero-biography: 3.9rem;
  --trans-1x: 0.25s;
  --gradient-purple: linear-gradient(to right, #ff8660, #9a33ff);
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.gradient-purple {
  background-image: var(--gradient-purple);
  color: transparent;
  background-clip: text;
}

.mg-t-lg {
  margin-top: 4.1rem;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  background-color: var(--color-bg);
  color: var(--color-text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.heading-primary {
  font-size: 5.5rem;
  font-weight: 900;
  color: var(--color-text-bold);
  line-height: 6.34rem;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__list {
  display: flex;
  gap: var(--gap-header-nav-list);
  font-family: "PlusJakartaSans", "poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.header-nav__item {
  color: var(--color-text-bold);
}
.header-nav__item--active {
  color: var(--color-text);
}
.header-nav__link:link, .header-nav__link:visited {
  color: inherit;
}

.profile {
  width: 25rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  cursor: zoom-in;
}
.profile__img {
  width: 100%;
  border-radius: 50%;
  transition: var(--trans-1x);
}
.profile:hover .profile__img {
  transform: scale(1.2);
}

.logo {
  width: 8rem;
  height: 8rem;
}
.logo__img {
  width: 100%;
}

.header {
  background-color: var(--color-bg-thin);
}

.section-hero {
  padding-top: 10rem;
  text-align: center;
}
.section-hero__biography {
  font-size: 1.8rem;
  font-weight: 300;
  max-width: 60%;
  margin: var(--gap-hero-biography) auto calc(var(--gap-hero-biography) + 1.4rem) auto;
}

/*# sourceMappingURL=style.css.map */
